.Search {
    width: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.SearchSpan {
    float: right;
    width: 100%;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 2px;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}
.SearchInput {
    width: 85%;
    border: 3px solid #1C76D2;
    border-left: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    outline: none;
}